body{
        font-family: "Helvetica Neue", sans-serif;
        font-size: 16px;
        font-weight: normal;
        line-height: 1.3em;
        color: #636363;
        padding: 0 20px 0;
        max-width: 1024px;
        min-width: 950px;
        margin: auto;
}
hr{
        color: #ccc;
        margin: 10px 0 20px;
}
h1, h3{
        font-family: "Arial Regular", sans-serif;
        font-weight: bold;
        margin-bottom:0;
}
h1{
        font-size: 32px;
        color: #1e4056;
        margin-bottom: 40px;
}
h3{
        font-size: 24px;
}
header{
        margin-bottom: 20px;
}
header img{
        vertical-align: text-bottom;
        
}
nav{
        margin-bottom: 20px;
}
ul{
        padding-left: 20px;
}
table{
        width: 100%;
        table-layout: fixed;
}
th{
        background-color: #33b3ca;
        color: #fff;
        font-weight: normal;
        padding: 10px;
        text-align: left;
}
td{
        background-color: #f5f5f5;
        font-size: 14px;
        padding: 5px 10px;
}
td i {
        font-weight: 100;
}

th:first-of-type,
td:nth-child(odd ){
        width: 25%;
        font-weight: bold;
}
#versiontest{
        color: #27B34F;
}
a{
        color: #33b3ca;
        text-decoration: none;
}
.button{
        background-color: #33b3ca;
        border-radius: 15px;
        color: #ffffff;
        margin: 15px 10px 15px 10px;
        padding: 5px 15px;
        cursor: pointer;
}
.dropdown {
  position: relative;
  text-align: left;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 200px;
  border-radius: 15px;
  box-shadow: 0px 8px 24px 0px rgba(0,0,0,0.2);
  padding: 10px 10px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.download{
        background-image: url("download.png");
        padding: 1em 1em .5em 70px;
        margin-bottom: 1.5em;
        min-height: 68px;
        background-position: 10px 50%;
        background-repeat: no-repeat;
        color: #000;
        overflow: hidden;
        box-sizing: border-box;
        background-color: #d6efc2;
        border-radius: 1.4em;
}
.quicklinks{
        float: right;
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        -webkit-column-gap: 20px; /* Chrome, Safari, Opera */
        -moz-column-gap: 20px; /* Firefox */
        column-gap: 20px;
        -webkit-column-rule: 1px solid lightblue; /* Chrome, Safari, Opera */
        -moz-column-rule: 1px solid lightblue; /* Firefox */
        column-rule: 1px solid lightblue;
        list-style: none;
        list-style-type: none;
        list-style-image: none;
        list-style-position: outside;
        font-size: 12px;
        line-height: 18px;
        font-family: Helvetica,Arial,sans-serif;
        margin-top: 2em;
        margin-bottom: 0em;
}
.colLeft, .colRight{
        float: left;
}
.colLeft{
        width: 60%;
}
.colRight{
        width: 40%;
        text-align: center;
}
.anchor{
        float: right;
}
.boxed {
        box-sizing: border-box;
        padding: 10px;
        border: 1px solid;
        border-color: #636363;
        border-radius: 5px;
}
pre {
    display: inline;
    margin: 0;
}
.xterm {
        color:#333;
        display:block;
        font-family:Monaco,Menlo,Consolas,"Courier New",monospace;
        padding:9.5px;
        margin:0 0 10px;
        font-size:13px;
        word-break:break-all;
        word-wrap:break-word;
        background-color:#f5f5f5;
        border:1px solid #ccc;
        border-radius:4px;
}


.note {
    color: #33b3ca;
    cursor: pointer;
    border-bottom: 1px dotted #33b3ca;
}

#powertext, #pcrptstext, #pattext {
    display: inline-block;
    vertical-align: middle;
}

input[name='fwversion'] {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;   
    display: inline-block;
    vertical-align: middle;
}

input[type=submit] {
    border: 1px solid #636363;
    color: #fff;
    background: #33b3ca;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; /* "hand" cursor */
}
input[type=submit]:hover {
    background: lightblue;
}


button {
    border: 1px solid #636363;
    color: #fff;
    background: #33b3ca;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer; /* "hand" cursor */
}

button:hover {
  background: lightblue;
}

input[type=range] {
  width: 60%;
  margin: 8.65px 0;
  background-color: transparent;
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  background: #add8e6;
  border: 1.5px solid #a4cbd7;
  border-radius: 7.1px;
  width: 60%;
  height: 6.7px;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb {
  margin-top: -10.15px;
  width: 12px;
  height: 24px;
  background: #33b3ca;
  border: 1.3px solid #1e4056;
  border-radius: 13px;
  cursor: pointer;
  -webkit-appearance: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #c8e5ee;
}
input[type=range]::-moz-range-track {
  background: #add8e6;
  border: 1.5px solid #a4cbd7;
  border-radius: 7.1px;
  width: 100%;
  height: 6.7px;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb {
  width: 12px;
  height: 24px;
  background: #33b3ca;
  border: 1.3px solid #1e4056;
  border-radius: 13px;
  cursor: pointer;
}
input[type=range]::-ms-track {
  background: transparent;
  border-color: transparent;
  border-width: 9.75px 0;
  color: transparent;
  width: 60%;
  height: 6.7px;
  cursor: pointer;
}
input[type=range]::-ms-fill-lower {
  background: #92cbde;
  border: 1.5px solid #a4cbd7;
  border-radius: 14.2px;
}
input[type=range]::-ms-fill-upper {
  background: #add8e6;
  border: 1.5px solid #a4cbd7;
  border-radius: 14.2px;
}
input[type=range]::-ms-thumb {
  width: 12px;
  height: 24px;
  background: #33b3ca;
  border: 1.3px solid #1e4056;
  border-radius: 13px;
  cursor: pointer;
  margin-top: 0px;
  /*Needed to keep the Edge thumb centred*/
}
input[type=range]:focus::-ms-fill-lower {
  background: #add8e6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #c8e5ee;
}
/*TODO: Use one of the selectors from https://stackoverflow.com/a/20541859/7077589 and figure out
how to remove the virtical space around the range input in IE*/
@supports (-ms-ime-align:auto) {
  /* Pre-Chromium Edge only styles, selector taken from hhttps://stackoverflow.com/a/32202953/7077589 */
  input[type=range] {
    margin: 0;
    /*Edge starts the margin from the thumb, not the track as other browsers do*/
  }
